* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e4e4e4;
  min-width: 600px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  padding: .3em 0;
  text-shadow: 1px 1px #adadad;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  padding: .7em 0;
  text-shadow: 1px 1px #adadad;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding: .2em 0;
}

p a {
  color: #138496;
}

p a:hover {
  color: #138496;
}

/* Navigation Bar and Banner */
.nav {
  margin-top: 1em;
}

.nav-link {
  color: black;
}

.nav-tabs {
  border-radius: 0;
}

.nav-link:hover {
  background-color: #6cbfcc !important;
  border-bottom: 1px solid #6cbfcc !important;
  color: #fff !important;
}

.active, .active:hover {
  background-color: #8cced8 !important;
  border-bottom: 1px solid #8cced8 !important;
  color: #000 !important;
}

.jumbotron {
  background: radial-gradient(circle, #fff, #8cced8, #8cced8);
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
}

.jumbotron img {
  display: block;
  margin: 0 auto;
  width: 8em;
}

.jumbotron h1 {
  color: #000;
  font-family: 'Patrick Hand SC', cursive, serif;
  font-size: 3em;
}

.jumbotron h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 1.3em;
}

/* Body */
.panel {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto 1em auto;
}

.panel-heading {
  font-family: 'Patrick Hand SC', sans-serif;
  font-size: 2em;
  padding: .2em .5em;
  text-align: center;
}

.panel-heading img {
  float: right;
  margin: auto !important;
  width: 1.3em !important;
}

.bg-commandline {
  background-color: #adadad;
}

.bg-general {
  background-color: #8cced8;
}

.bg-atom {
  background-color: #5fb57d;
}

.bg-goodhabits {
  background-color: #a978fd;
}

.bg-htmlcss {
  background-color: #2e92fd;
}

.bg-jsjquery {
  background-color: #ffd75e;
}

.bg-comprehension {
  background-color: #fd5969;
}

.panel-body {
  background-color: #f9f9fa;
  padding: .5em 1em;
}

.panel img {
  display: block;
  margin: 2em auto;
  width: 30%;
  min-width: 50px;
  max-width: 100px;
}

/* Footer */
footer {
  font-size: .9em;
  margin-top: 1em;
  text-align: center;
}

footer img {
  margin: 2em;
  width: 2em;
}

#disclaimer {
  font-size: .8em;
  font-style: italic;
}
